@font-face {
    font-family: 'Intro';
    src: url('Intro.otf');
}
body {
  padding: 0;
  margin:0;
  background-color: white;
  background-image: url('https://images.unsplash.com/photo-1478001517127-fccc92f54906?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
  background-size: cover;
}
h1, h2 {
  padding: 0;
  margin: 0;
}
bg {
  position: fixed;
  width:100%;
  height: 100vh;
  left:0;
  top:0;
  z-index: -1;
  background-color: rgba(55, 71, 79, 0.86);
}
h1{
  color:white;
  width:100%;
  position: relative;
  line-height: 200px;
  text-align: center;
  font-size:50px;
  color:white;
  font-family: 'Intro';
}
